.aside {
  padding: 5rem 2.5rem;
  flex-basis: 20%;

  &__heading {
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;

    &--sort-way {
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 1px;

      grid-column: 1 / span 2;
      grid-row: 1/2;
    }

    &--input-1 {
      grid-column: 2 / 3;
      grid-row: 2/3;
    }

    &--input-2 {
      grid-column: 2 / 3;
      grid-row: 3/-1;
    }

    &--label-1 {
      grid-column: 3 / -1;
      grid-row: 2/3;
    }

    &--label-2 {
      grid-column: 3 / -1;
      grid-row: 3/-1;
    }
  }
}
