.header {
  height: 15vh;
  padding: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-template-areas:
      'heading heading'
      'search booking';
    column-gap: 0;
    row-gap: 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 0 1rem;
  }

  @media only screen and (max-height: $dh-smallest) {
    padding: 5rem;
  }

  &__heading {
    font-family: inherit;
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;

    border: none;
    background-color: inherit;
    color: inherit;

    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
      grid-area: heading;
      text-align: center;
    }

    @media only screen and (max-width: $bp-smallest) {
    }
  }
}

.search {
  background-color: $color-white;
  border-radius: 10rem;
  padding-left: 3rem;
  box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);

  display: flex;
  align-items: center;
  transition: all 0.2s;

  &:focus-within {
    transform: translateY(-2px);
  }

  &__field {
    font-family: inherit;
    font-size: 1.8rem;
    width: 30rem;
    color: inherit;
    background: none;
    border: none;

    @media only screen and (max-width: $bp-large) {
      width: 18rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }
  }

  &__btn {
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.nav {
  align-self: stretch;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
    height: 100%;
    padding: 0 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    align-items: center;

    svg {
      fill: currentColor;
      height: 2.4rem;
      width: 2.4rem;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }
}

.bookmarks {
  background-color: $color-white;
  width: 40rem;
  padding: 1rem 0;
  box-shadow: 0 0.8rem 5rem 2rem rgba($color-grey-dark-1, 0.1);
  z-index: 10;

  position: absolute;
  right: -2.5rem;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  @media only screen and (max-width: $bp-large) {
    width: 30rem;
  }

  &__list {
    list-style: none;
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }

  &__item {
    width: 95%;
    padding: 0 2rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);

    &-link {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
    }

    &-fig {
      // width: 10rem;
      // height: 10rem;
      border-radius: 50%;

      img {
        width: 10rem;
        height: 10rem;

        @media only screen and (max-width: $bp-large) {
          height: 8rem;
          width: 8rem;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &-title {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}
