.modal {
  width: 90vw;
  height: 80vh;
  padding: 4rem;
  background-color: $color-white;
  border-radius: 20px;

  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: none;
    }
  }

  @media only screen and (max-height: $dh-medium) {
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: none;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &-show {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30rem;

      @media only screen and (max-width: $bp-medium) {
        width: 20rem;
      }

      @media only screen and (max-height: $bp-large) {
        width: 20rem;
      }

      img {
        width: 100%;
      }
    }

    &-list {
      list-style: none;

      display: flex;
      align-items: center;
      gap: 2rem;

      @media only screen and (max-width: $bp-medium) {
        gap: 1.6rem;
      }
    }

    &-item {
      width: 10rem;
      height: 10rem;
      border-radius: 10px;
      box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);

      @media only screen and (max-width: $bp-medium) {
        width: 8rem;
        height: 8rem;
      }

      button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      &--small {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__content {
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-height: $dh-medium) {
      align-items: center;
    }
  }

  &__rating {
    font-size: 1.8rem;
    font-weight: 800;
    width: max-content;
    color: $color-black;
    background-color: #fef08a;
    border-radius: 5px;
    padding: 0 0.8rem;
    margin-bottom: 1.6rem;

    @media only screen and (max-height: $dh-large) {
      margin-bottom: 1rem;
    }
  }

  &__brand {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: $color-grey-dark-2;
  }

  &__title {
    font-size: 3.2rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    margin-bottom: 0.6rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.8rem;
    }

    @media only screen and (max-height: $dh-large) {
      font-size: 2.8rem;
    }
  }

  &__description {
    font-size: 2rem;
    font-weight: 500;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
    }

    @media only screen and (max-height: $dh-large) {
      font-size: 1.8rem;
    }
  }

  &__stock {
    color: $color-grey-dark-2;
    margin-top: 4rem;

    @media only screen and (max-width: $bp-large) {
      margin-top: 2.5rem;
    }

    @media only screen and (max-height: $dh-large) {
      margin-top: 2rem;
    }

    &-status {
      font-size: 2rem;
      font-weight: 700;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.8rem;
      }

      @media only screen and (max-height: $dh-large) {
        font-size: 1.8rem;
      }
    }

    &-qty {
      font-size: 1.6rem;
      font-weight: 800;

      @media only screen and (max-width: $bp-large) {
        font-size: 1.4rem;
      }

      @media only screen and (max-height: $dh-large) {
        font-size: 1.4rem;
      }
    }
  }

  &__price {
    width: max-content;
    line-height: 1;
    margin-top: 4rem;
    margin-bottom: 3rem;

    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media only screen and (max-height: $dh-large) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    &-sell {
      font-size: 2.8rem;
      font-weight: 800;
      grid-column: 1/2;
    }

    &-discount {
      font-size: 1.4rem;
      text-align: center;
      color: $color-white;
      background-color: $color-black;
      padding: 0.3rem 0.6rem;
      border-radius: 5px;

      grid-column: 2/-1;
    }

    &-origin {
      font-size: 2rem;
      font-weight: 500;
      color: $color-grey-dark-2;
      text-decoration: line-through;
      grid-column: 1/2;
    }
  }

  &__tags {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-flow: dense;
    gap: 1rem;
    align-items: center;

    &-tag {
      font-size: 1.4rem;
      letter-spacing: 1px;
      text-align: center;
      color: $color-white;
      background-color: $color-grey-dark-1;
      padding: 0.8rem 1.6rem;
      border-radius: 10rem;
    }
  }

  &__btn {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
    align-self: start;
    padding: 1rem;
    margin-top: 3rem;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    align-items: center;

    @media only screen and (max-height: $dh-large) {
      margin-top: 2rem;
    }

    @media only screen and (max-height: $dh-medium) {
      align-self: center;
    }

    svg {
      fill: currentColor;
      height: 2.4rem;
      width: 2.4rem;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $color-grey-light-2;
    }
  }

  &__close {
    font-size: 2.4rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 2rem;
    right: 3rem;
  }
}
