.preview {
  // height: max-content;
  // background-color: $color-grey-light-1;
  // padding: 1rem;
  // border-radius: 20px;
  // box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);

  &__link {
    &:link,
    &:visited {
      color: inherit;
      background-color: $color-grey-light-1;
      width: 30rem;
      height: 100%;
      padding: 1rem;
      text-decoration: none;
      border-radius: 20px;
      box-shadow: 0 0.7rem 3rem rgba($color-black, 0.08);
      transition: all 0.3s;

      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        width: 28rem;
      }
    }

    &:hover {
      background-color: $color-grey-light-2;
      transform: translateY(-3px);
    }

    &--active {
      background-color: $color-grey-light-2;
    }
  }

  &__fig {
    height: 20rem;

    @media only screen and (max-width: $bp-large) {
      height: 15rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.3s;
    }
  }

  &__data {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__rating {
    font-size: 1.8rem;
    font-weight: 800;
    width: max-content;
    color: $color-black;
    background-color: #fef08a;
    border-radius: 5px;
    padding: 0 0.8rem;
    margin-bottom: 1.6rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.6rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    letter-spacing: 0.5px;

    @media only screen and (max-width: $bp-large) {
      font-size: 2rem;
    }
  }

  &__price {
    width: max-content;
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 2rem;

    display: grid;
    align-items: end;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &-sell {
      font-size: 2.4rem;
      font-weight: 800;
      grid-column: 1/2;
    }

    &-discount {
      font-size: 1.2rem;
      text-align: center;
      color: $color-white;
      background-color: $color-black;
      padding: 0.3rem 0.6rem;
      border-radius: 5px;

      grid-column: 2/-1;
    }

    &-origin {
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-grey-dark-2;
      text-decoration: line-through;
      grid-column: 1/2;
    }
  }

  &__tags {
    margin-top: auto;

    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-auto-flow: dense;
    gap: 1rem;
    align-items: center;

    &-tag {
      font-size: 1.4rem;
      letter-spacing: 1px;
      text-align: center;
      color: $color-white;
      background-color: $color-grey-dark-1;
      padding: 0.5rem 1rem;
      border-radius: 10rem;

      @media only screen and (max-width: $bp-large) {
        padding: 0.4rem 0.8rem;
      }
    }
  }
}
