.search-results {
  flex: 1;
  padding: 5rem;
}

.results {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0));
  gap: 4rem;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-grey-light-3;
  }
}
