html {
  font-size: 62.5%;
}
@media only screen and (max-width: 61.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-color: #fafafa;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  height: 85vh;
  display: flex;
  align-items: stretch;
}

.header {
  height: 15vh;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 61.25em) {
  .header {
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    display: grid;
    grid-template-areas: "heading heading" "search booking";
    column-gap: 0;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .header {
    padding: 0 1rem;
  }
}
@media only screen and (max-height: 23.5em) {
  .header {
    padding: 5rem;
  }
}
.header__heading {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media only screen and (max-width: 61.25em) {
  .header__heading {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__heading {
    font-size: 2rem;
    grid-area: heading;
    text-align: center;
  }
}
.search {
  background-color: #fafafa;
  border-radius: 10rem;
  padding-left: 3rem;
  box-shadow: 0 0.7rem 3rem rgba(28, 25, 23, 0.08);
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.search:focus-within {
  transform: translateY(-2px);
}
.search__field {
  font-family: inherit;
  font-size: 1.8rem;
  width: 30rem;
  color: inherit;
  background: none;
  border: none;
}
@media only screen and (max-width: 78.15em) {
  .search__field {
    width: 18rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .search__field {
    width: 80%;
  }
}
.search__field:focus {
  outline: none;
}
.search__field::placeholder {
  color: #d3c7c3;
}
.search__btn {
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav {
  align-self: stretch;
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}
.nav__item {
  position: relative;
}
.nav__btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  height: 100%;
  padding: 0 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
.nav__btn svg {
  fill: currentColor;
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 0.7rem;
  transform: translateY(-1px);
}
.nav__btn:focus {
  outline: none;
}
.nav__btn:hover {
  background-color: #f2efee;
}

.bookmarks {
  background-color: #fafafa;
  width: 40rem;
  padding: 1rem 0;
  box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
  z-index: 10;
  position: absolute;
  right: -2.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 78.15em) {
  .bookmarks {
    width: 30rem;
  }
}
.bookmarks__list {
  list-style: none;
}
.bookmarks:hover, .nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}
.bookmarks__item {
  width: 95%;
  padding: 0 2rem;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0.7rem 3rem rgba(28, 25, 23, 0.08);
}
.bookmarks__item-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.bookmarks__item-fig {
  border-radius: 50%;
}
.bookmarks__item-fig img {
  width: 10rem;
  height: 10rem;
}
@media only screen and (max-width: 78.15em) {
  .bookmarks__item-fig img {
    height: 8rem;
    width: 8rem;
  }
}
.bookmarks__item:not(:last-child) {
  margin-bottom: 1rem;
}
.bookmarks__item-title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn {
  color: #1c1917;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn:focus {
  outline: none;
}
.btn > *:first-child {
  margin-right: 1rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 4rem;
}
@media screen and (max-width: 61.25em) {
  .btn {
    padding: 1.5rem 2rem;
  }
}
.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}
@media only screen and (max-width: 61.25em) {
  .btn svg {
    height: 1.75rem;
    width: 1.75rem;
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #615551;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message,
.error {
  max-width: 40rem;
  padding: 5rem 4rem;
  margin: 0 auto;
  display: flex;
}
.message svg,
.error svg {
  height: 3rem;
  width: 3rem;
  fill: currentColor;
  transform: translateY(-0.3rem);
}
.message p,
.error p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 1.5rem;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 25, 23, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.aside {
  padding: 5rem 2.5rem;
  flex-basis: 15%;
}
.aside__heading {
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.filter__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}
.filter__item--sort-way {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  grid-column: 1/span 2;
  grid-row: 1/2;
}
.filter__item--input-1 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.filter__item--input-2 {
  grid-column: 2/3;
  grid-row: 3/-1;
}
.filter__item--label {
  font-size: 1.4rem;
  font-weight: 700;
}
.filter__item--label-1 {
  grid-column: 3/-1;
  grid-row: 2/3;
}
.filter__item--label-2 {
  grid-column: 3/-1;
  grid-row: 3/-1;
}

.search-results {
  flex: 1;
  padding: 5rem;
}

.results {
  height: 100%;
  width: 100%;
  list-style: none;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0));
  gap: 4rem;
  justify-content: center;
}
.results::-webkit-scrollbar {
  width: 6px;
}
.results::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}
.results::-webkit-scrollbar-thumb {
  background-color: #d3c7c3;
}

.preview__link:link, .preview__link:visited {
  color: inherit;
  background-color: #f9f5f3;
  width: 30rem;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0.7rem 3rem rgba(28, 25, 23, 0.08);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 61.25em) {
  .preview__link:link, .preview__link:visited {
    width: 28rem;
  }
}
.preview__link:hover {
  background-color: #f2efee;
  transform: translateY(-3px);
}
.preview__link--active {
  background-color: #f2efee;
}
.preview__fig {
  height: 20rem;
}
@media only screen and (max-width: 78.15em) {
  .preview__fig {
    height: 15rem;
  }
}
.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s;
}
.preview__data {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.preview__rating {
  font-size: 1.8rem;
  font-weight: 800;
  width: max-content;
  color: #1c1917;
  background-color: #fef08a;
  border-radius: 5px;
  padding: 0 0.8rem;
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 78.15em) {
  .preview__rating {
    font-size: 1.6rem;
  }
}
.preview__title {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 78.15em) {
  .preview__title {
    font-size: 2rem;
  }
}
.preview__price {
  width: max-content;
  line-height: 1;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.preview__price-sell {
  font-size: 2.4rem;
  font-weight: 800;
  grid-column: 1/2;
}
.preview__price-discount {
  font-size: 1.2rem;
  text-align: center;
  color: #fafafa;
  background-color: #1c1917;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  grid-column: 2/-1;
}
.preview__price-origin {
  font-size: 1.8rem;
  font-weight: 500;
  color: #918581;
  text-decoration: line-through;
  grid-column: 1/2;
}
.preview__tags {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: dense;
  gap: 1rem;
  align-items: center;
}
.preview__tags-tag {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  color: #fafafa;
  background-color: #615551;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
}
@media only screen and (max-width: 78.15em) {
  .preview__tags-tag {
    padding: 0.4rem 0.8rem;
  }
}

.modal {
  width: 90vw;
  height: 80vh;
  padding: 4rem;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 37.5em) {
  .modal {
    flex-direction: column;
    overflow-y: scroll;
  }
  .modal::-webkit-scrollbar {
    width: 6px;
  }
  .modal::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
  }
  .modal::-webkit-scrollbar-thumb {
    background-color: none;
  }
}
@media only screen and (max-height: 37.5em) {
  .modal {
    flex-direction: column;
    overflow-y: scroll;
  }
  .modal::-webkit-scrollbar {
    width: 6px;
  }
  .modal::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
  }
  .modal::-webkit-scrollbar-thumb {
    background-color: none;
  }
}
.modal__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.modal__images-show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
}
@media only screen and (max-width: 61.25em) {
  .modal__images-show {
    width: 20rem;
  }
}
@media only screen and (max-height: 78.15em) {
  .modal__images-show {
    width: 20rem;
  }
}
.modal__images-show img {
  width: 100%;
}
.modal__images-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 61.25em) {
  .modal__images-list {
    gap: 1.6rem;
  }
}
.modal__images-item {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  box-shadow: 0 0.7rem 3rem rgba(28, 25, 23, 0.08);
}
@media only screen and (max-width: 61.25em) {
  .modal__images-item {
    width: 8rem;
    height: 8rem;
  }
}
.modal__images-item button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__images-item--small {
  width: 100%;
  height: 100%;
}
.modal__images-item--small img {
  width: 100%;
  height: 100%;
}
.modal__content {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-height: 37.5em) {
  .modal__content {
    align-items: center;
  }
}
.modal__rating {
  font-size: 1.8rem;
  font-weight: 800;
  width: max-content;
  color: #1c1917;
  background-color: #fef08a;
  border-radius: 5px;
  padding: 0 0.8rem;
  margin-bottom: 1.6rem;
}
@media only screen and (max-height: 47.5em) {
  .modal__rating {
    margin-bottom: 1rem;
  }
}
.modal__brand {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #918581;
}
.modal__title {
  font-size: 3.2rem;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
@media only screen and (max-width: 78.15em) {
  .modal__title {
    font-size: 2.8rem;
  }
}
@media only screen and (max-height: 47.5em) {
  .modal__title {
    font-size: 2.8rem;
  }
}
.modal__description {
  font-size: 2rem;
  font-weight: 500;
}
@media only screen and (max-width: 61.25em) {
  .modal__description {
    font-size: 1.8rem;
  }
}
@media only screen and (max-height: 47.5em) {
  .modal__description {
    font-size: 1.8rem;
  }
}
.modal__stock {
  color: #918581;
  margin-top: 4rem;
}
@media only screen and (max-width: 78.15em) {
  .modal__stock {
    margin-top: 2.5rem;
  }
}
@media only screen and (max-height: 47.5em) {
  .modal__stock {
    margin-top: 2rem;
  }
}
.modal__stock-status {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 78.15em) {
  .modal__stock-status {
    font-size: 1.8rem;
  }
}
@media only screen and (max-height: 47.5em) {
  .modal__stock-status {
    font-size: 1.8rem;
  }
}
.modal__stock-qty {
  font-size: 1.6rem;
  font-weight: 800;
}
@media only screen and (max-width: 78.15em) {
  .modal__stock-qty {
    font-size: 1.4rem;
  }
}
@media only screen and (max-height: 47.5em) {
  .modal__stock-qty {
    font-size: 1.4rem;
  }
}
.modal__price {
  width: max-content;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media only screen and (max-height: 47.5em) {
  .modal__price {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}
.modal__price-sell {
  font-size: 2.8rem;
  font-weight: 800;
  grid-column: 1/2;
}
.modal__price-discount {
  font-size: 1.4rem;
  text-align: center;
  color: #fafafa;
  background-color: #1c1917;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  grid-column: 2/-1;
}
.modal__price-origin {
  font-size: 2rem;
  font-weight: 500;
  color: #918581;
  text-decoration: line-through;
  grid-column: 1/2;
}
.modal__tags {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-auto-flow: dense;
  gap: 1rem;
  align-items: center;
}
.modal__tags-tag {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  color: #fafafa;
  background-color: #615551;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
}
.modal__btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  align-self: start;
  padding: 1rem;
  margin-top: 3rem;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}
@media only screen and (max-height: 47.5em) {
  .modal__btn {
    margin-top: 2rem;
  }
}
@media only screen and (max-height: 37.5em) {
  .modal__btn {
    align-self: center;
  }
}
.modal__btn svg {
  fill: currentColor;
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 0.7rem;
  transform: translateY(-1px);
}
.modal__btn:focus {
  outline: none;
}
.modal__btn:hover {
  background-color: #f2efee;
}
.modal__close {
  font-size: 2.4rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

/*# sourceMappingURL=main.css.map */
